[mysqld]
# check these values with mysql_admin variables | grep ....
#
innodb_buffer_pool_size = 128M		# default 134217728
key_buffer_size = 8M			# default 8388608
query_cache_size = 1M			# default 1048576
query_cache_limit = 1M			# default 1048576
thread_cache_size = 9			# default 9
max_connections = 40			# default 151
innodb_additional_mem_pool_size = 8M	# default 8388608
innodb_log_buffer_size = 8M  		# 8388608


